/**
 * Copyright 2011 Google Inc. All Rights Reserved
 */

body {
  font-family: Verdana;
  font-size: 10pt;
  text-align: center;
}

li {
  list-style: none;
}

table {
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin-top: 0px;
  padding-left: 0px;
}

table {
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;  
  border: 5px solid green;
  padding: 10px 10px 10px 10px;
}

.buy-button {
  display: block;
  width: 120px;
  margin: 0px auto;
}
